<div class="row">
    <div class="col-sm">
        <form (submit)="salvar()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="nomeProcedimento" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nomeProcedimento" name="nome" [(ngModel)]="cliente.nome">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dataNascimento" class="form-label">Data de nascimento</label>
                        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" [(ngModel)]="cliente.dataNascimento">
                    </div>
                </div>
            </div>
            <div class="titulo">
                <span>Contato</span>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="ddd">DDD</label>
                    <input type="text" class="form-control" id="ddd" placeholder="00" maxlength="2" name="ddd" [(ngModel)]="telefone.ddd">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="num">Telefone</label>
                        <input type="text" class="form-control" id="num" name="num" [(ngModel)]="telefone.numero">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" (click)="adicionarTelefone()" style="margin-top: 32px;">Adicionar</button>
                </div>
                <div class="col-sm-4">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of listaTelefone">
                                <td>({{ item.ddd }}) {{ item.numero }}</td>
                                <td title="Remover"><span class="material-icons" (click)="removerTelefoneLista(item)">clear</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="direita">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>