<div class="row">
    <div class="col-sm">
        <form (submit)="salvar()">
             <div class="form-group">
                <label for="nomeProcedimento" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nomeProcedimento" name="nome" [(ngModel)]="cliente.nome">
            </div>
            
             <div class="form-group">
                <label for="dataNascimento" class="form-label">Data de nascimento</label>
                <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" [(ngModel)]="cliente.dataNascimento">
            </div>
            <div class="direita">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>