<div class="row justify-content-md-center align-items-center">
    <div class="col-sm-3">
        <form class="" (submit)="salvar()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nome" [(ngModel)]="funcionario.nome">
            </div>
            
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control"  id="email" name="email" aria-describedby="email" placeholder="E-mail" [(ngModel)]="usuario.email">
            </div>

            <div class="form-group">
                <label for="usuario">Usuário</label>
                <input type="text" class="form-control"  id="usuario" name="usuario" aria-describedby="usuario" [(ngModel)]="usuario.usuario">
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control"  id="senha" name="senha" aria-describedby="senha" placeholder="********" [(ngModel)]="usuario.senha">
            </div>
            
            <div class="direita">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>